<header class="px-4 border-bottom border-white">
  <nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container-fluid">
      <a routerLink="/" class="navbar-brand text-white">{{ title }}</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ng-container *ngIf="authService.currentUserValue">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/">Inicio</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-white"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Libros</a
              >
              <ul class="dropdown-menu">
                <li>
                  <a routerLink="/books" class="dropdown-item">Listado</a>
                </li>
                <li>
                  <a routerLink="/books/add" class="dropdown-item">Agregar</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown" *ngIf="authService.isAdmin()">
              <a
                class="nav-link dropdown-toggle text-white"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Usuarios</a
              >
              <ul class="dropdown-menu">
                <li>
                  <a routerLink="/users" class="dropdown-item">Listado</a>
                </li>
                <li>
                  <a routerLink="/users/add" class="dropdown-item">Agregar</a>
                </li>
              </ul>
            </li>
          </ul>
          <button class="btn text-white ms-auto" (click)="authService.logout()">
            Cerrar Sesión
          </button>
        </ng-container>
      </div>
    </div>
  </nav>
</header>
